@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Averta";
  src: url("../fonts/AvertaDemo-Regular.otf");
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Regular.ttf");
}
@font-face {
  font-family: "Gumela";
  src: url("../fonts/Gumela.ttf");
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Averta";
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 50px #efefef;
    border-radius: 10px;
    color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--shadow);
    border-radius: 10px;
    &:active {
      background: white;
    }
  }
}
:root{
  --active: #728b6b;
  --theme: #313d2f;
  --shadow: rgba(0,0,0,0.3);
}
#loading{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#container{
  margin-left: 70px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#container-login{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.chip{
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
}
input{
  outline: none;
  border: none;
}
input.custom{
  outline: none;
  border: none;
  box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: 0.1);
  font-size: 17px;
  padding: 15px;
  font-weight: bold;
  border-radius: 7px;
  width: 240px;
  transition: .4s;
  font-family: "Averta";
}
input.custom:focus{
  box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: 0.3);
}
